.section{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 4em;
}

.criar a{
    color: #EDEDED;
    text-decoration: none;
}
.criar a hover{
    color: #c0bdbd;
}