.interface{
    background-image: url('../../img/landing_page_background.jpg');
    box-shadow: 0 0 5px black;
}

.text{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
